<html>

<head>

    <style>
        #fl
        {
            float:left;
        }

        #fr
        {
            float:right;
        }

        .wi
        {
            width:50%
        }

        input
        {
            font-size: 2em;
            
        }
        .btn
        {
            background-color:coral;
        }
        h1{color:red;}

    </style>

</head>

<body>
    <center>
    <h1>Estimating Color Image Entities Using Flask</h1><br><br><br>

    
        
    <div id='fl' class='wi'>
        <img src="{{url_for('static',filename='rgb.png')}}" style="width:100%; height:50%">
        <h3>
            Here RGB and HSV mean value color channel in each and every image will be extracted.
            And Published under prediction.html
        </h3>
        
    </div>
        
    <div id='fr' class='wi'>

        <h2 style="color:crimson">
            !?~~Upload Image Here~~?!
        </h2>

        <div>
            <form method='post' action="{{url_for('home')}}" enctype='multipart/form-data'>

                <input type="file" name='image' ><br><br><br>
                <input type="submit" class='btn'>

            </form>
        </div>
    </div>
    </center>

</body>

</html>
